.toast {
  opacity: 0;
  display: flex;
  width: 300px;
  height: 150px;
  position: fixed;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: var(--toast-layer);
  top: calc((100% - 150px) / 2);
  left: calc((100% - 300px) / 2);
  background: var(--modal-bg-color);
  border: solid 1px var(--border-main-color);
}

.toast.show {
  opacity: 1;
}

.toast p {
  margin: 5px 0;
  font-size: 13px;
  text-align: center;
  color: var(--toast-text-color);
}
