:root {
  --main-layer: 1;
  --modal-bg-layer: 10;
  --modal-layer: 100;

  --title-bar-height: 36px;
  --title-side-gap: 10px;
  --title-box-width: 300px;
  --layout-box-width: 250px;
  --side-nav-vertical-gap: 22px;
  --style-box-side: 30px;
  --style-box-gap: 2px;
  --style-box-padding: 8px;
  --search-menu-button: 100px;
  --search-side-gap: 20px;
  --search-vertical-gap: 25px;
  --bottom-menu-bar-height: 20px;
  --create-button-height: 46px;

  --theme-main-green: rgb(53, 199, 60);
  --theme-sub-green: rgb(51, 97, 39);
  --theme-accent-green: rgb(27, 107, 54);
  --border-main-color: rgb(120, 120, 120, 0.32);
  --border-hover-color: rgb(120, 120, 120, 0.6);
  --border-sub-color: rgb(53, 199, 60, 0.2);

  --title-bar-bg-color: rgb(12, 20, 12);
  --main-bg-color: rgb(16, 22, 16);
  --modal-bg-color: rgb(24, 28, 24);
  --modal-hide-bg-color: rgb(14, 16, 14, 0.4);
  --form-bg-color: rgb(32, 36, 32);
  --side-nav-bg-color: rgb(24, 29, 24);
  --side-nav-head-color: rgb(100, 100, 100);
  --side-nav-text-color: rgb(180, 180, 180);
  --side-nav-selected-color: rgb(36, 46, 36);
  --search-window-bg-color: rgb(22, 26, 22);
  --code-bg-color: rgb(42, 52, 42);
  --code-info-bg-color: rgb(30, 32, 30);
  --tag-bg-color: rgb(120, 250, 120, 0.1);
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
ol,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  background: none;
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(180, 180, 180);
}

html {
  min-width: 600px;
}

code,
pre {
  margin: 0;
  padding: 0;
}

pre {
  white-space: pre-wrap; /* 改行・スペースをそのまま表示 */
  word-break: break-all; /* 長い行を折り返す */
}

button {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  background: var(--form-bg-color);
  border: solid 1px var(--border-main-color);
}

input:hover,
textarea:hover,
button:hover,
.searchWindow:hover {
  color: rgb(230, 230, 230);
  border: solid 1px var(--border-hover-color);
}

.logModalButton,
.favModalButton {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border: solid 2px var(--border-main-color);
}

.logModalButton {
  background: var(--theme-accent-green);
}

.logModalButton:hover,
.favModalButton:hover {
  border: solid 1px var(--theme-main-green);
}

input {
  height: 32px;
  padding: 0 12px;
  width: calc(100% - 24px);
}

textarea {
  height: 210px;
  padding: 0 12px;
  width: calc(100% - 24px);
}

input:focus,
textarea:focus {
  outline: solid 2px var(--theme-sub-green);
}

button:focus {
  outline: none;
}

body {
  overflow: hidden;
  background: var(--main-bg-color);
}

.ModalBg {
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
  z-index: var(--modal-layer);
  background: var(--modal-hide-bg-color);
}

.ModalBg.open {
  opacity: 1;
  pointer-events: visible;
}

.saveModalButton > p {
  font-weight: 600;
}

.formLabel {
  font-size: 12px;
  font-weight: 600;
  color: var(--side-nav-head-color);
}

.cancelButton {
  font-size: 11px;
  padding: 8px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--form-bg-color);
  border: solid 1px var(--border-main-color);
}

.saveButton {
  font-size: 11px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--theme-sub-green);
  border: solid 1px var(--theme-main-green);
}

.titleBar {
  display: flex;
  align-items: center;
  -webkit-app-region: drag; /* ドラッグでウィンドウ移動 */
  box-sizing: border-box;
  justify-content: center;
  height: var(--title-bar-height);
  background: var(--title-bar-bg-color);
  border-bottom: solid 1px var(--border-main-color);
}

.titleBarBox {
  height: 90%;
  display: grid;
  align-items: center;
  width: calc(100% - var(--title-side-gap) * 2);
  grid-template-columns: var(--title-box-width) auto var(--layout-box-width);
}

.titleWrap {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.titleBox {
  gap: 6px;
  display: flex;
  align-items: center;
}

.titleMenuWrap {
  gap: 10px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 12px;
  font-weight: 500;
}

.headerItem {
  border: none !important;
  font-size: 11px;
  font-weight: 500;
}

.layoutBox {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.layoutBox button {
  border: none;
}

.titleBar button {
  -webkit-app-region: no-drag; /* ボタンはクリック可能に */
}

.sideNav {
  width: 85%;
  display: grid;
  grid-gap: 22px;
  padding: var(--side-nav-vertical-gap) 0;
  grid-template-rows: auto 1px var(--create-button-height);
}

.sideNavTitleWrap {
  gap: 6px;
  display: flex;
  align-items: center;
}

.sideNavContainer {
  width: 100%;
  display: flex;
  min-height: 620px;
  box-sizing: border-box;
  justify-content: center;
  background: var(--side-nav-bg-color);
  min-height: calc(100vh - var(--title-bar-height));
  border-right: solid 1px var(--border-main-color);
}

.sideNavTitle {
  font-size: 16.8px;
}

.sideNavTitle > span {
  color: var(--theme-main-green);
}

.sideNavBox {
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  max-height: 260px;
}

.sideNavList {
  margin-top: 2px;
}

.sideNavHead {
  font-size: 13px;
  font-weight: 600;
  color: var(--side-nav-head-color);
}

.sideNavItem {
  display: flex;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

.sideNavItem p {
  font-weight: 600;
  font-size: 13.6px;
  color: var(--side-nav-text-color);
}

.sideNavItem span {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 400;
  color: var(--side-nav-text-color);
}

.sideNavItem:hover {
  background: rgb(30, 36, 30);
}

.sideNavItem.selected {
  background: var(--side-nav-selected-color);
}

.sideNavItem:hover p {
  color: rgb(235, 235, 235);
}

.sideNavItem.selected p {
  font-weight: 500;
  color: var(--theme-main-green);
}

.sideNavItemInner {
  gap: 11px;
  display: flex;
  align-items: center;
}

.sideNavItemDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--theme-main-green);
}

.sideNavPartation {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background: var(--border-main-color);
}

.sideNavButtonPartation {
  width: 100%;
  height: 100%;
  background: var(--border-main-color);
}

.saveText {
  font-weight: 600;
  transition: all 0.4s ease;
  width: calc(100% - var(--create-button-height));
}

.saveModalButton:hover .saveText {
  width: 100%;
  color: rgb(230, 230, 230);
}

.copyButton {
  right: 0;
  z-index: 10;
  bottom: 16px;
  font-size: 9px;
  font-weight: 600;
  border-radius: 8px;
  position: absolute;
  padding: 3.5px 15px;
  box-sizing: border-box;
  background: rgb(50, 62, 50);
  border: solid 2px var(--border-main-color);
}

.copyButton:hover {
  border: solid 2px var(--border-hover-color);
}

.editButton {
  border: none;
  cursor: pointer;
  font-size: 10px;
  border-radius: 3px;
  color: var(--theme-main-green);
}

.deleteButton {
  border: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 3px;
  color: var(--theme-main-green);
}

.editButton:hover,
.deleteButton:hover {
  background: rgb(60, 70, 60);
}

.countText {
  font-size: 10px;
  font-weight: 600;
  transform: translateY(-2px);
  color: rgb(200, 200, 200);
}

.imgBox {
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  font-weight: 600;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: var(--create-button-height);
  background: var(--theme-sub-green);
}

.imgBox > span {
  transition: all 0.4 ease;
}

.saveModalButton {
  display: flex;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--border-main-color);
  border: solid 1px var(--border-main-color);
}

.saveModalButton:hover .imgBox {
  width: 100%;
}

.saveModalButton:hover .imgBox > span {
  opacity: 0;
}

.saveTextWrap {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: right;
}

.filterSub {
  font-size: 13px;
  font-weight: 600;
  color: var(--side-nav-head-color);
}

.mainScrollWrap {
  width: 100%;
  height: 100%;
  overflow: auto;
  container-type: size;
}

.mainWrap {
  display: grid;
  min-width: 600px;
  position: relative;
  grid-template-rows: 100px auto;
  height: calc(100vh - var(--title-bar-height));
}

.searchContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background: var(--search-window-bg-color);
  border-bottom: solid 1px var(--border-main-color);
}

.searchBox {
  gap: 8px;
  display: grid;
  width: calc(100% - 2 * var(--search-side-gap));
  grid-template-columns:
    calc(
      2 * (var(--style-box-side) + var(--style-box-padding)) +
        var(--style-box-gap)
    )
    auto var(--search-menu-button) var(--search-menu-button);
}

.searchWindow {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 200px;
  border-radius: 3px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background: var(--code-bg-color);
  border: solid 1px var(--border-main-color);
}

.styleChangeContainer {
  width: 100%;
  display: flex;
  border-radius: 6px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background: var(--border-main-color);
  border: solid 1px var(--border-main-color);
  height: calc(var(--style-box-side) + 2 * var(--style-box-padding));
}

.styleChangeBox {
  display: flex;
  justify-content: center;
  gap: var(--style-box-gap);
  height: var(--style-box-side);
  width: calc(2px + 2 * var(--style-box-side));
}

.styleGridBox,
.styleFlexBox {
  width: var(--style-box-side);
  height: var(--style-box-side);
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.styleGridBox.selected,
.styleFlexBox.selected {
  background: var(--theme-sub-green);
  border: solid 1px var(--theme-main-green);
}

.searchWindowBox {
  width: 100%;
  height: 100%;
}

.searchWindowText {
  margin: 0;
  border: none;
  height: 100%;
  font-size: 13px;
  padding: 0 14px;
  background: none;
  width: calc(100% - 28px);
  color: var(--side-nav-text-color);
}

.favModalButton {
  background: var(--theme-sub-green);
}

.codeCardContainer {
  display: flex;
  overflow: auto;
  /* align-items: center; */
  justify-content: center;
}

.mainContainer,
.mainScrollWrap,
.sideNavScrollWrap,
.sideNavBox,
.codeCardScrollWrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainContainer::-webkit-scrollbar,
.mainScrollWrap::-webkit-scrollbar,
.sideNavScrollWrap::-webkit-scrollbar,
.sideNavBox::-webkit-scrollbar,
.codeCardScrollWrap::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  width: 100%;
  height: calc(100vh - var(--title-bar-height));
}

.mainContent {
  display: grid;
  grid-template-columns: 225px auto;
}

.codeCardScrollWrap {
  height: 100%;
  overflow: auto;
}

.codeCardWrap {
  padding: var(--search-vertical-gap) 0 calc(var(--search-vertical-gap) + 25px);
  width: calc(100% - 2 * var(--search-side-gap));
}

.codeCardBox {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

.sideNavScrollWrap {
  width: 100%;
  overflow: auto;
  height: calc(100vh - var(--title-bar-height));
}

@container (min-width: 200px) {
  .codeCardBox.gridStyle {
    grid-template-columns: 1fr 1fr;
  }
}

@container (min-width: 720px) {
  .codeCardBox.gridStyle {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@container (min-width: 900px) {
  .codeCardBox.gridStyle {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@container (min-width: 1200px) {
  .codeCardBox.gridStyle {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@container (min-width: 1500px) {
  .codeCardBox.gridStyle {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.codeCardBox.flexStyle {
  grid-template-columns: 1fr;
}

.codeCard {
  width: 100%;
  height: 100%;
  height: 260px;
  display: grid;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.4s ease;
  grid-template-rows: 0.55fr 0.45fr;
  border: solid 2px var(--border-main-color);
}

.codeCard:hover {
  transform: translateY(-3px);
  border: solid 2px var(--theme-sub-green);
}

.codeArea {
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  background: var(--code-bg-color);
}

.codeArea::after {
  bottom: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  background: linear-gradient(to top, rgb(32, 36, 32), transparent);
}

.codeWrap {
  width: 96%;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.codeInfoArea {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background: var(--code-info-bg-color);
  border-top: solid 1px var(--border-main-color);
}

.codeInfoWrap {
  width: 90%;
  height: 74%;
}

.codeMain {
  font-size: 12px;
  font-weight: 400;
}

.codeTitle {
  line-clamp: 1;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.codeLangArea {
  gap: 8px;
  display: flex;
  align-items: center;
}

.codeLang {
  font-size: 12px;
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.codeTagArea {
  gap: 4px;
  margin-top: 8px;
  display: inline-flex;
}

.codeTag {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  background: var(--tag-bg-color);
  border: solid 1px var(--border-main-color);
}

.codeButtonsWrap {
  gap: 8px;
  display: flex;
  margin-top: 6px;
  align-items: center;
  justify-content: right;
}

pre .hljs {
  background: none;
}

pre code.hljs {
  color: rgb(198, 231, 206);
}

pre span.hljs-title.function_ {
  color: rgb(45, 247, 45);
}

pre span.hljs-keyword {
  color: rgb(95, 243, 181);
}

pre span.hljs-attr {
  color: rgb(91, 207, 116);
}

.bottomMenuBar {
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  justify-content: right;
  height: var(--bottom-menu-bar-height);
  background: var(--search-window-bg-color);
  border-top: solid 2px var(--border-main-color);
}

.bottomMenuBarWrap {
  height: 100%;
  display: flex;
  padding: 0 22px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--theme-sub-green);
  border-left: solid 2px var(--border-hover-color);
}
